<head>  
<style type="text/css">
  .point{
    padding-top: 130px;
  }
  h1{
  	font-size: 60px;
 	text-shadow:1px 1px 7px #999;
 	 letter-spacing: 6px;
  }
  p1{
  	font-size: 100px;
  	line-height: 1.2;
  	text-shadow:1px 1px 8px #999;
  }
  .topichead{
  	padding-top: 50px;
  }
</style>
</head>